@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}

nav{
    height: 10vh;
    margin: 0 0 7vh 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    margin: 0 20px;
    width: 50px;
}

.heading{
    font-family: 'Potta One', cursive;
    font-size: 30px;
}

.container{
    margin: auto;
    width: 60vw;
    height: 100vh;
}

.container ol li{
    font-family: 'Ubuntu', sans-serif;
}

.copy-to-clipboard-button{
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    .logo{
        margin: 0 10px;
        width: 35px;
    }
   .heading{
       font-size: 23px;
   }
   .container{
       width: 85vw;
   }
  }